* {
    padding: 0;
    margin: 0;
}

body,
html {
    background-color: rgba(248, 248, 248);
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:hover {
    color: rgb(217, 83, 79);
}

span,
p {
    color: #999;
}

.page-header {
    border-bottom: none;
}

input[type=text],
textarea,
input[type=text]:focus,
textarea:focus {
    border: none;
    outline: none;
    box-sizing: border-box;
}

textarea {
    resize: none;
}