.chatbox {
  width: 600px;
  box-shadow: 0 0 5px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  display: none;
}
.chatbox .header {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dcdee2;
  background-color: #f8f8f9;
  text-align: center;
  position: relative;
  z-index: 999999;
}
.chatbox .header p {
  color: #17233d;
  line-height: 55px;
  font-size: 18px;
}
.chatbox .header .close {
  width: 35px;
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
  font-size: 23px;
  font-weight: normal;
  cursor: pointer;
}
.chatbox .header .close:hover {
  color: #fff;
  background-color: #d9534f;
}
.chatbox .content {
  width: 100%;
  height: 451px;
  overflow-y: auto;
  background-color: #f8f8f9;
}
.chatbox .content .warnning {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 9999999;
}
.chatbox .content .time {
  position: absolute;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  border-radius: 2px;
  text-align: center;
  background-color: #dcdee2;
  transform: translateX(-50%);
  color: #fff;
  margin-top: 7px;
  left: 50%;
}
.chatbox .content ul .left,
.chatbox .content ul .right {
  width: 100%;
  height: 38px;
  margin: 10px 0;
}
.chatbox .content ul .left span,
.chatbox .content ul .right span {
  padding: 8px;
  border-radius: 6px;
  color: #333;
  word-break: break-all;
  max-width: 380px;
  border: 1px solid #dcdee2;
  line-height: 18px;
}
.chatbox .content ul .left img,
.chatbox .content ul .right img {
  width: 32px;
  height: 32px;
}
.chatbox .content ul .fxied {
  margin-top: 35px;
  margin-bottom: 1px;
}
.chatbox .content ul .left {
  float: left;
}
.chatbox .content ul .left span {
  background-color: #fff;
  float: left;
  margin-left: 10px;
}
.chatbox .content ul .left img {
  float: left;
  margin-left: 25px;
}
.chatbox .content ul .right {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.chatbox .content ul .right span {
  background-color: #2db7f5;
  float: right;
  margin-right: 10px;
  color: #fff;
}
.chatbox .content ul .right img {
  float: right;
  margin-right: 25px;
}
.chatbox .in_msg {
  z-index: 9999;
  position: relative;
}
.chatbox .in_msg .input {
  width: 100%;
  height: 100px;
  border-top: 1px solid #dcdee2;
  background-color: #fff;
  padding: 20px;
  font-size: 16px;
  overflow-y: auto;
  font-family: inherit;
}
.chatbox .in_msg .send {
  width: 60px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 68px;
  right: 9px;
  display: block;
  border: 1px solid #d9534f;
  border-radius: 12px;
  text-align: center;
  float: right;
  color: #d9534f;
}
.chatbox .in_msg .send:hover {
  background-color: #d9534f;
  color: #fff;
}
