.wrap {
    width: 100%;
    height: 100%;
    header {
        width: 100%;
        background-color: #fff;
            .navbar {
                border: none;
                .min-box {
                    .logo {
                        width: 274px;
                        display: block;
                        img {
                            width: 100%;
                            height: 68px;
                            display: block;
                            margin-top: -10px;
                        }
                    }
                    a {
                        line-height: 43px;
                        background-color: transparent;
                        font-size: 16px;
                        z-index: 999;
                        &:hover,&:focus {
                            color: rgba(217,83,79,1);
                        }
                    }
                }
                .navbar-nav {
                    li {
                        padding-right: 15px;
                    }
                }
            }
        }
    .slider-box {
        margin-top: -15px;
    }
    .product {
        width: 100%;
        height: 1785px;
        position: relative;
        top: -40px;
        .slogan1 {
            border: none;
            position: relative;
            top: 33px;
            text-align: center;
            p {
                color: #333;
                font-size: 24px;
                font-weight: bold;
                a {
                    font-weight: normal;
                    color: rgb(217, 83, 79);
                }
                &:last-of-type {
                    color: #999;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
        .prod {
            width: 100%;
            background-color: red;
            position: relative;
            .box {
                width: 100%;
                position: absolute;
                top: 45px;
                .min-box {
                    width: 100%;
                    height: 400px;
                    background-color: blue;
                }
            }
        }
    }
}