* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
}
.wrap {
    width: 100%;
    header {
        width: 100%;
            .navbar {
                height: 60px;
                border: none;
                .min-box {
                    .logo {
                        img {
                            display: block;
                            margin-top: -5px;
                        }
                    }
                    a {
                        line-height: 55px;
                        background-color: transparent;
                        font-size: 16px;
                        color: #333;
                        z-index: 999;
                        &:hover {
                            color: rgba(217,83,79,1);
                        }
                    }
                    .active {
                        color: rgba(217,83,79,1);
                    }
                }
                .navbar-nav {
                    li {
                        padding-right: 15px;
                    }
                }
            }
        }
    .slider-box {
       
    }
}